In [1]:
import numpy as np
import pandas as pd

#### English 0

In [4]:
df0_fake = pd.read_csv('../data/English_0/Fake.csv')
df0_fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
df0_true = pd.read_csv('../data/English_0/True.csv')
df0_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

#### English 1

In [2]:
df1 = pd.read_csv('../data/English_1/news_dataset.csv')
df1

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [39]:
df1.label.describe()

count     6335
unique       2
top       REAL
freq      3171
Name: label, dtype: object

#### Processing

In [6]:
del(df0_fake['title'])
del(df0_fake['subject'])
del(df0_fake['date'])
df0_fake['label'] = 1
df0_fake

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [7]:
del(df0_true['title'])
del(df0_true['subject'])
del(df0_true['date'])
df0_true['label'] = 0
df0_true

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [8]:
del(df1['Unnamed: 0'])
del(df1['title'])
df1['label'].replace(to_replace='FAKE', value=1, inplace=True)
df1['label'].replace(to_replace='REAL', value=0, inplace=True)
df1

                                                   text  label
0     Daniel Greenfield, a Shillman Journalism Fello...      1
1     Google Pinterest Digg Linkedin Reddit Stumbleu...      1
2     U.S. Secretary of State John F. Kerry said Mon...      0
3     — Kaydee King (@KaydeeKing) November 9, 2016 T...      1
4     It's primary day in New York and front-runners...      0
...                                                 ...    ...
6330  The State Department told the Republican Natio...      0
6331  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...      1
6332   Anti-Trump Protesters Are Tools of the Oligar...      1
6333  ADDIS ABABA, Ethiopia —President Obama convene...      0
6334  Jeb Bush Is Suddenly Attacking Trump. Here's W...      0

[6335 rows x 2 columns]

In [9]:
# Export df1 as small balanced English dataset
df1.to_csv('../data/English_1/small_english_dataset.csv', index = False)

#### Merge

In [44]:
merge = df0_fake.append(df0_true, ignore_index = True)
merge.index.name = 'id'
merge = merge.append(df1, ignore_index = True)
merge.index.name = 'id'
merge

                                                    text  label
id
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
51228  The State Department told the Republican Natio...      0
51229  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...      1
51230   Anti-Trump Protesters Are Tools of the Oligar...      1
51231  ADDIS ABABA, Ethiopia —President Obama convene...      0
51232  Jeb Bush Is Suddenly Attacking Trump. Here's W...      0

[51233 rows x 2 columns]

#### Save (export) dataset

In [45]:
merge.to_csv('../data/Merged/english_dataset.csv', index = False)

In [47]:
dataset = pd.read_csv('../data/Merged/english_dataset.csv')
dataset

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
51228  The State Department told the Republican Natio...      0
51229  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...      1
51230   Anti-Trump Protesters Are Tools of the Oligar...      1
51231  ADDIS ABABA, Ethiopia —President Obama convene...      0
51232  Jeb Bush Is Suddenly Attacking Trump. Here's W...      0

[51233 rows x 2 columns]

In [48]:
print(dataset[dataset.label == 1].count())
print(dataset[dataset.label == 0].count())

text     26645
label    26645
dtype: int64
text     24588
label    24588
dtype: int64